<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-lg-6 product-card">
            <div class="card text-center shadow mt-3 mx-auto" style="width: 18rem;">
                <img class="img" src="<%=foundProduct.img%>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title"> <%= foundProduct.name %> </h3>
                  <h5 class="card-title"> Rs: <%= foundProduct.price %> </h5>
                  <p class="card-text"> <%= foundProduct.desc %> </p>
                  <a href="#" class="btn btn-primary">Buy Product</a>
                  <a href="#" class="btn btn-success">Add to cart</a>
                  <a href="/products/<%= foundProduct._id %>/edit" class="btn btn-info">Edit Product</a>
                  <form action="/products/<%= foundProduct._id %>?_method=Delete" method="POST">
                    <button>Delete</button>
                  </form>
                </div>
            </div>
    </div>

    <div class="col-lg-4">
        <h2 class="display-5">Leave your review</h2>
        <form action="/products/<%= foundProduct._id %>/review" method="POST">

          <div class="mt-3">
            <label for="rate" class="form-label">Rating: </label>
            <input type="range" name="rating" min="0" max="5" id="rate" class="form-control">
          </div>
          <div class="mt-3">
            <label for="chal" class="form-label">Comments: </label>
            <textarea name="comment" id="chal"  rows="5"></textarea>
          </div>
          <button class="btn btn-sm btn-success">Add review</button>

        </form>

        <div class="my-3">
          <%for(let review of foundProduct.reviews){%>
          <div class="card">
            <div class="card-header">Rating: <%=review.rating%> </div>
            <div class="card-body">
              <p class="card-text">Comment: <%=review.comment%> </p>
              <a href="#" class="btn btn-danger">Delete</a>
            </div>
          </div>
        <%}%>


        </div>



    </div>

</div>